<div class="main-container">
    <div class="titulo-producto">
    </div>
    <div class="tabla">
        <div class="titulos">
            <h1>PRODUCTOS SOCKET.IO</h1>
            <ul>
                <li>ID</li>
                <li>Nombre</li>
                <li>Descripcion</li>
                <li>Precio</li>
                <li>Stock</li>
                <li>Categoria</li>
                <li>Code</li>
            </ul>
        </div>
        <div id="form-real-time"></div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>